<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>

<body>
    <h2>Employees</h2>
    <button onclick="location.href='/'">Go to Home Page</button>
    <ul>
        <% employees.forEach(employee=> { %>
            <li>
                <p>Name: <%= employee.name %>
                </p>
                <p>ID: <%= employee.id %>
                </p>
                <p>Departments:</p>
                <ul>
                    <% employee.abteilungen.forEach(department=> { %>
                        <li>
                            <%= department.name %>
                        </li>
                        <% }) %>
                </ul>
            </li>
            <% }) %>
    </ul>
    <button onclick="location.href='/'">Go to Home Page</button>
</body>

</html>